pipeline/incremental_load_child.json
{
	"name": "incremental_load_child",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_tables_inc_child",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Last-cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "last_cdc",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": {
											"value": "@concat('monitor/', item().TableName)",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "New-Records",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Last-cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Current-Timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sap_sybase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT COUNT(*) new FROM @{item().schema}.@{item().SapParent} WHERE @{item().ParentcdcCol} > '@{activity('Last-cdc').output.value[0].cdc}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "New-Records",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('New-Records').output.resultSets[0].rows[0].new, 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Sap-to-Datalake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().schema}.@{item().SapTableName} WHERE @{item().IdCol} IN (SELECT @{item().IdCol} FROM @{item().schema}.@{item().SapParent} WHERE @{item().ParentcdcCol} > '@{activity('Last-cdc').output.value[0].cdc}')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sybase_tables",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_sap_inc_tables_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_folder": {
														"value": "@concat('data/',item().TableName)",
														"type": "Expression"
													},
													"p_table": {
														"value": "@concat(item().TableName, variables('current_timestamp'), '.parquet')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Latest-Cdc_Value",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Sap-to-Datalake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_sap_sybase",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT MAX(@{item().ParentcdcCol}) cdc FROM @{item().schema}.@{item().SapParent}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Update-Cdc_Value",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Latest-Cdc_Value",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('Latest-Cdc_Value').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "empty_cdc",
												"type": "DatasetReference",
												"parameters": {
													"p_folder": {
														"value": "@concat('monitor/', item().TableName)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "last_cdc",
												"type": "DatasetReference",
												"parameters": {
													"p_folder": {
														"value": "@concat('monitor/', item().TableName)",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Current-Timestamp",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_timestamp",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loop_tables_inc_child": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "SAPSR3",
						"SapTableName": "VBAP",
						"TableName": "order_detail",
						"SapParent": "VBAK",
						"ParentcdcCol": "AEDAT",
						"ParentTableName": "order",
						"IdCol": "VBELN"
					}
				]
			}
		},
		"variables": {
			"current_timestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-21T17:37:31Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}